html, body{
    margin: 0;
    padding: 0;
}
iframe:first-child{
    max-height: 123px;
    width: 100%;
    
}
#footer{
    width: 100%;
    height: 242px;
}

@media only screen and (max-width: 1025px){
    iframe:first-child{
        height: 134px;
    }
    #footer{
        height: 224px;
    }
}
@media only screen and (max-width: 376px){
    iframe:first-child{
        height: 500px;
        /* display: none; */
    }
    #footer{
        height: 500px;
    }
}